*, *::after, *::before {
    font-family: 'Segoe UI', sans-serif;
    font-size: 550;
    font-weight: 230;
    box-sizing: border-box;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 99% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #ee7752, #23a6d5, #23d5ab);
    animation: gradient 15s ease-in-out infinite;
    background-size: 400% 400%;
}

.header__title {
    text-align: center;
    margin-top: 50px;
    font-size: 21px;
    font-weight: 500;
    color: lemonchiffon;
    font-variant: normal;
    font-style: oblique;
}